.awards {
    padding: 32px 20px;
    margin: 20px auto;
    max-width: 92rem;
}

.awards__grid {
    display: grid;
    grid-template-columns: repeat(4, minmax(0, 1fr));
    gap: 32px;
    justify-items: center;
    align-items: center;
}

.awards__item {
    display: flex;
    justify-content: center;
    align-items: center;
}

.awards__logo {
    max-width: 310px;
    height: auto;
}

@media (max-width: 768px) {
    .awards__grid {
        grid-template-columns: repeat(2, minmax(0, 1fr));
    }
}
