@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
}

@font-face {
    font-family: 'Museo Sans';
    font-style: normal;
    font-weight: 500;
    src: url('../fonts/MuseoSans_500.otf') format('opentype');
    font-display: swap;
}

@font-face {
    font-family: 'Museo Sans';
    font-style: normal;
    font-weight: 700;
    src: url('../fonts/MuseoSans_700.otf') format('opentype');
    font-display: swap;
}

@font-face {
    font-family: 'Museo Sans';
    font-style: normal;
    font-weight: 900;
    src: url('../fonts/MuseoSans_900.otf') format('opentype');
    font-display: swap;
}
