.home {
    background: linear-gradient( 90deg,#030E3B 0%,#1A1450 25%,#32176A 55%,#4B1D7E 75%,#5C2592 100%);
}

.home__content {
    display: flex;
    flex-direction: row;
}

.home__column,
.home__column--intro,
.home__column--gallery,
.home__column--enquiry {
    flex: 0 0 33%;
    max-width: 33%;
}

.home__column--intro {
    order: 1;
    padding: 120px 0px 120px 80px;
}

.home__column--gallery {
    order: 2;
    padding: 0;
}

.home__column--enquiry {
    order: 3;
    padding: 80px 40px 40px 40px;
}

.home__heading {
    font-family: 'Museo Sans';
    font-size: 48px;
    font-weight: 600;
    margin: 0;
    line-height: 1.5;
    text-align: left;
    background: linear-gradient(90deg, #FFCC81 0%, #E9C79F 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    color: transparent;
}

.home__heading--headline {
    margin-top: 4px;
    font-family: 'Museo Sans', 'Open Sans', sans-serif;
    font-size: 42px;
    font-weight: 600;
    line-height: 1.5;
    background: linear-gradient(90deg, #FFCC81 0%, #E9C79F 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    color: transparent;
    margin-bottom: 8px;
}

.home__tagline {
    font-size: 26px;
    line-height: 1;
    margin-top: 12px;
    font-weight: 400;
    margin-bottom: 30px;
    background: linear-gradient(90deg, #FFCC81 0%, #E9C79F 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    color: transparent;
    text-transform: uppercase;
}


.home__address-pill {
    background: linear-gradient(rgb(255, 204, 129), rgb(233, 199, 159));
    border-radius: 9999px;
    padding: 6px;
    display: inline-flex;
}

.home__address-card {
    border: 1px solid #00000021;
    padding: 4px;
    border-radius: 9999px;
    
}
.home__address-list {
    display: flex;
    justify-content: center;
    padding: 20px;
}

.home__address-label {
    color: #3F186A;
    font-weight: 700;
    font-size: 26px;
    text-align: center;
}

.home__address-meta {
    border-left: 1px solid #00000021;
    margin-left: 8px;
    padding-left: 8px;
}

.home__address-value {
    color: #000E38;
    font-size: 18px;
    text-align: center;
}

@media (max-width: 1440px) {
    .home__heading {
        font-size: 32px;
        line-height: 1.2;
    }
    .home__tagline {
        font-size: 26px;
        line-height: 1.2;
    }
    .home__address-label {
        font-size: 16px;
    }
    .home__address-value {
        font-size: 12px;
    }
}

@media (max-width: 768px) {
    .home__content {
        flex-direction: column;
    }

    .home__column,
    .home__column--intro,
    .home__column--gallery,
    .home__column--enquiry {
        flex: 0 0 100%;
        max-width: 100%;
        width: 100%;
        padding: 80px 20px;
    }

    .home__column--gallery {
        order: 1;
        padding: 20px 0 0;
    }

    .home__column--intro {
        order: 2;
        text-align: center;
        padding: 0px 20px 20px 20px;
    }

    .home__column--enquiry {
        display: none;
    }

    .home__heading {
        text-align: center;
        font-size: 32px;
        line-height: 1.2;
    }
    .home__tagline {
        font-size: 20px;
        margin-bottom: 24px;
    }
    .home__address-label {
        font-size: 18px;
    }
}
