* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 40px;
    background-color: transparent;
}


.logo-container {
    position: relative;
    width: 220px;
    height: 60px;
    display: flex;
    align-items: center;
}
.logo {
    width: 160px;
    position: absolute;
    top: -20px;
    left: -20px;
    color: #fff;
    font-size: 24px;
    font-weight: bold;
}

.register-btn {
    padding: 10px 20px;
    background-color: #fff;
    color: #000;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    height: 60px;
    background: linear-gradient( 90deg,#030E3B 0%,#1A1450 25%,#32176A 55%,#4B1D7E 75%,#5C2592 100%);
}

.home-bg {
    background: linear-gradient( 90deg,#030E3B 0%,#1A1450 25%,#32176A 55%,#4B1D7E 75%,#5C2592 100%);
}

.home-content {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 100%;
    color: #fff;
    text-align: left;
}

.left-side,
.middle-side,
.right-side {
    flex: 0 0 33%;
    max-width: 33%;
}

.left-side {
    order: 1;
    padding: 120px 40px;
}

.middle-side {
    order: 2;
    padding: 0;
    text-align: center;
}

.right-side {
    order: 3;
    padding: 120px 0 40px 40;
    text-align: center;
}

.heading-group {
    display: inline-block;
    max-width: 100%;
}

.heading {
    font-size: 32px;
    font-weight: 700;
    margin: 0;
    line-height: 1;
    text-align: left;
}

.heading-line2 {
    margin-top: 4px;
    font-size: 48px;
    line-height: 1;
    letter-spacing: 0.02em;
}

.subheading {
    font-size: 24px;
    margin-bottom: 30px;
}

@media (max-width: 768px) {

    .home-content {
        flex-direction: column;
    }

    .left-side,
    .middle-side,
    .right-side {
        flex: 0 0 100%;
        max-width: 100%;
        width: 100%;
        padding: 80px 20px;
    }

    .middle-side {
        order: 1;
        padding: 20px 0 0;
    }

    .left-side {
        order: 2;
        text-align: center;
    }

    .right-side {
        display: none;
    }
}