@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
}

@font-face {
    font-family: 'Museo Sans';
    font-style: normal;
    font-weight: 100;
    src: url('fonts/MuseoSans-100.otf') format('opentype');
    font-display: swap;
}

@font-face {
    font-family: 'Museo Sans';
    font-style: normal;
    font-weight: 300;
    src: url('fonts/MuseoSans-300.otf') format('opentype');
    font-display: swap;
}

@font-face {
    font-family: 'Museo Sans';
    font-style: normal;
    font-weight: 500;
    src: url('fonts/MuseoSans_500.otf') format('opentype');
    font-display: swap;
}

@font-face {
    font-family: 'Museo Sans';
    font-style: normal;
    font-weight: 700;
    src: url('fonts/MuseoSans_700.otf') format('opentype');
    font-display: swap;
}

@font-face {
    font-family: 'Museo Sans';
    font-style: normal;
    font-weight: 900;
    src: url('fonts/MuseoSans_900.otf') format('opentype');
    font-display: swap;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 40px;
    background-color: transparent;
}


.logo-container {
    position: relative;
    width: 220px;
    height: 60px;
    display: flex;
    align-items: center;
}
.logo {
    width: 160px;
    position: absolute;
    top: -20px;
    left: -20px;
    color: #fff;
    font-size: 24px;
    font-weight: bold;
}

.register-btn {
    padding: 10px 20px;
    background-color: #fff;
    color: #000;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    height: 60px;
    background: linear-gradient( 90deg,#030E3B 0%,#1A1450 25%,#32176A 55%,#4B1D7E 75%,#5C2592 100%);
}

.home-bg {
    background: linear-gradient( 90deg,#030E3B 0%,#1A1450 25%,#32176A 55%,#4B1D7E 75%,#5C2592 100%);
}

.home-content {
    display: flex;
    flex-direction: row;
    height: 100%;
    color: #fff;
    text-align: left;
}

.left-side,
.middle-side,
.right-side {
    flex: 0 0 33%;
    max-width: 33%;
}

.left-side {
    order: 1;
    padding: 120px 0px 120px 80px;
}

.middle-side {
    order: 2;
    padding: 0;
    text-align: center;
}

.right-side {
    order: 3;
    padding: 120px 40px 40px 40px;
    text-align: center;
}

.heading-group {
    display: inline-block;
    max-width: 100%;
}

.heading {
    font-family: 'Museo Sans';
    font-size: 32px;
    font-weight: 600;
    margin: 0;
    line-height: 1;
    text-align: left;
    background: linear-gradient(90deg, #FFCC81 0%, #E9C79F 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    color: transparent;
}

.heading-line2 {
    margin-top: 4px;
    font-family: 'Museo Sans', 'Open Sans', sans-serif;
    font-size: 42px;
    font-weight: 600;
    line-height: 1;
    background: linear-gradient(90deg, #FFCC81 0%, #E9C79F 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    color: transparent;
    margin-bottom: 8px;
}

.subheading {
    font-size: 20px;
    line-height: 1.5;
    font-weight: 400;
    margin-bottom: 30px;
    background: linear-gradient(90deg, #FFCC81 0%, #E9C79F 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    color: transparent;
    text-transform: uppercase;
}

@media (max-width: 768px) {

    .home-content {
        flex-direction: column;
    }

    .left-side,
    .middle-side,
    .right-side {
        flex: 0 0 100%;
        max-width: 100%;
        width: 100%;
        padding: 80px 20px;
    }

    .middle-side {
        order: 1;
        padding: 20px 0 0;
    }

    .left-side {
        order: 2;
        text-align: center;
        padding: 0px 20px 20px 20px;
    }

    .right-side {
        display: none;
    }

}